
#contact_img{
    height: 40%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.navbar{
    position: relative;
    bottom: 0;

}
