
#contact_img{
    height: 40%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.navbar{
    position: relative;
    bottom: 0;

}
.textin{
    font-size:1.3rem;
   margin-left: 10px;
  }
  .info{
    border: 1px solid blueviolet;
  }
