@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Roboto:ital@1&family=Satisfy&display=swap");


* {
  padding: 0;
  margin: 0;
  font-family: libre-bodon;
  text-transform: capitalize;
}
.header {
  align-items: center;
  text-align: center;
  color: #f77c2d;
  font-weight: 700;
}
h5 {
  font-size: 30px;
}

img {
  height: 80px;
}

/* about */
#about_sansthan {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  font-size: 1.5rem;
  color: #f77c2d;
}

.backimg {
  width: 100vw;
  z-index: -1;
}

.on_darshan {
  p {
    font-family: Satisfy;
    font-size: 28px;
    color: beige;
  }
  h2 {
    font-size: 40px;
    font-weight: 500;
    text-decoration: underline white 2px;
    color: white;
  }
}
.service {
  height: 400px;
  background-image: url(./images/service\ back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#on_header {
  font-size: 40px;
  font-weight: 500;
  text-decoration: 2px underline white;
  color: white;
}
#on_info {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: rgb(241, 241, 241);
  line-break: auto;
}
.pngimg {
  height: 130px;
}

ul {
  list-style: none;
  padding: 0;
}

#header {
  font-size: 3rem;
  text-decoration: 1px underline white;
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

#footerlist {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline 1px white;
}

.photo {
  height: 200px;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0;

}

#photogall{
 height: 180px;
 width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-inline: 5px;
  margin-block: 3px;
  filter: grayscale(30%);
 transition-property: all;
  transition-duration: .5s;
 transition-timing-function: linear;
 padding: 10px;
  border: 2px solid yellowgreen;
  border-radius: 10px;
 
}

#photogall:hover{
  filter: none;
  transform:scale(1.2);
  animation: ease-in;
 
}